.testdiv{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    z-index: 20;
    position: fixed;
    top: 0;
   
}
.options{
    border-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 1rem;

}
.options form a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    cursor: pointer;
    padding: 8px;
    background-color: white;
    color:dimgrey;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    
}

.dropdown-btn span img{
    width: 20px;
    height: 20px;
}
.dropdown-content {
    z-index: 1;
    min-width: 150px;
    background-color: white;
}
.form-check-input{
    cursor: pointer;
}
.form-check-label{
    cursor: pointer;
}